.login-title{
    text-align: center;
    margin: 10px!important;
}
.login-input{
    width:90%;
    max-width:300px;
    margin: 0 auto;
}
.login-btn{
    margin:10px 0;
}
.main{
    margin-top:15px;
}
.list-group{
    /*margin:auto 0;*/
    /*width: 100%;*/
    text-align: center;
    margin-top:10px;
}
.mdui-btn-group{
    /*margin:0 auto;*/

}