body {
    padding-top: 112px;
}

.main {
    max-width: 600px;
    margin: 20px auto;
    /*text-align: center;*/
    padding: 0 10px;
}

p {
    margin-bottom: 3px!important;
}

.input-text{
    min-height:80px!important;
}