body {
    padding-top: 112px;
}

.main {
    width:95%;
    max-width: 600px;
    margin: 10px auto;
    padding: 10px;
}

p {
    margin-bottom: 3px!important;
}

.input-text{
    min-height:80px!important;
}
.card-ask-list{
    padding:10px;
    margin-bottom: 20px;
}
.card-ask-question{

}