body {
    padding-top: 112px;
}

.main {
    width:95%;
    max-width: 600px;
    margin: 10px auto;
    padding: 10px;
    padding-bottom: 0;
}

p {
    margin-bottom: 3px!important;
}

.input-text{
    min-height:100px!important;
}
.card-ask-list{
    padding:15px;
    margin-bottom: 20px;
}
.card-ask-question{

}
.card-ask-time{
    /*margin-top:5px;*/
    font-size: 13.5px;
}
.loading{
    margin:10px;
}
.a-ask{
    text-decoration:none;
}
.card-title{
    padding: 10px;
}
.card-content{
    padding: 10px;
    margin-top: 10px;
}